@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glowBorder {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-glow-border {
  animation: glowBorder 4s linear infinite;
}
